[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
anyhow = "1.0"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
tracing = "0.1"
thiserror = "1.0"
uuid = { version = "1.21.0", features = ["v4", "serde"] }
